body {
    font-family: Arial, sans-serif;
}

#chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    margin: 20px;
}

#chessboard div {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

#chessboard div:nth-child(odd) {
    background-color: #eee;
}

#chessboard div:nth-child(even) {
    background-color: #ddd;
}