<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajedrez contra Stockfish</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Juega Ajedrez contra Stockfish</h1>
    <div id="chessboard"></div>
    <div>
        <h2>Movimiento</h2>
        <input type="text" id="moveInput" placeholder="Introduce tu movimiento (ej. e2e4)">
        <button onclick="makeMove()">Mover</button>
    </div>
    <div id="response"></div>
    
    <script src="/js/scripts.js"></script>
</body>
</html>